@font-face {
  font-family: 'Beringin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../font/mnh48beringinpua/mnh48beringinpua.woff') format('woff'), url('../font/mnh48beringinpua/mnh48beringinpua.svg') format('svg');
  unicode-range: U+EBA0-EBFF;
}

/*
 * === Fonts for Beringin Malay (ms-Brgn) ===
 * Only one font is available, use it at all times.
 * Font: MNH48 Beringin PUA
 *
 */
 