/* Base Styling */
body, html {
    text-align: justify;
    margin: 0;
    padding: 0;
    color: #ddd;
    background: #605;
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Baloo Tammudu 2", "Harmattan", "MNH48 Beringin PUA", "Kosugi Maru", "ZCOOL XiaoWei", "Noto Sans TC", sans-serif;
    font-size: 18px;
}

/* Style the links to be green, underline on hover */
a {
    color: #71ee00;
    font-weight: bold;
    text-decoration: none;
}

a:active {
    color: #606;
}
a:visited {
    color: #39b756;
}
a:hover {
    color: #71aa44;
    text-decoration: underline;
}

/* For `disabled` class, don't make the link appear obviously*/
.disabled {
   pointer-events: none;
   cursor: default;
}

/* Set paragraph line height */
p{
    line-height: 1.2;
}

/* Set headers styling */
h1, h2, h3, h4, h5 {
    font-family: "Dancing Script", "Amiri", "MNH48 Beringin PUA", "Sawarabi Mincho", "Ma Shan Zheng", "Noto Serif TC", serif;
    color: #eae;
    text-align: left;
}

h1:lang(ms-Arab), h2:lang(ms-Arab), h3:lang(ms-Arab), h4:lang(ms-Arab), h5:lang(ms-Arab) {
    font-family: "Amiri", "Dancing Script", serif;
    direction: rtl;
    -webkit-font-feature-settings: "ss08" 1; 
    -moz-font-feature-settings: "ss08" 1; 
    font-feature-settings: "ss08" 1;
    text-align: right;
}

h1:lang(ms-Brgn), h2:lang(ms-Brgn), h3:lang(ms-Brgn), h4:lang(ms-Brgn), h5:lang(ms-Brgn) {
    font-family: "MNH48 Beringin PUA", "Dancing Script", serif;
    direction: rtl;
    writing-mode: vertical-rl;
}

h1:lang(ja), h2:lang(ja), h3:lang(ja), h4:lang(ja), h5:lang(ja){
    font-family: "Sawarabi Mincho", "Dancing Script", serif;
}

h1:lang(zh-Hans), h2:lang(zh-Hans), h3:lang(zh-Hans), h4:lang(zh-Hans), h5:lang(zh-Hans){
    font-family: "Ma Shan Zheng", "Dancing Script", serif;
}

/* Set headers' links to use different shade */
h1 a, h2 a, h3 a, h4 a, h5 a {
    color:#ffcefe;
}

/* Set headers' margin and size */
h1 {
    margin: 0px 0px;
    font-size: 3em;
}

h2{
    margin: 20px 0 10px 0;
    font-size: 2.5em;
}

h3 {
    margin: 20px 0 10px 0;
    font-size: 2em;
}

h4 {
    margin: 20px 0 10px 0;
    font-size: 1.6em;
}

h5 {
    margin: 20px 0 10px 0;
    font-size: 1.3em;
}

/* Set page's main header's styling */
header {
    background: #403;
    text-align: center;
    padding-bottom: 10px;
}

.webmainicon {
    width: 250px;
    height: 250px;
}

.websitetitle {
    margin: -30px 0 0 0;
    text-align: center;
    font-family: "Grenze Gotisch", "Lateef", "MNH48 Beringin PUA", "M PLUS 1p", "Long Cang", "Noto Serif TC", serif;
}

.websitetitle:lang(ms-Arab) {
    font-family: "Lateef", "Grenze Gotisch", serif;
    direction: rtl;
    text-align: center;
    margin: -40px 0;
}

.websitetitle:lang(ms-Brgn) {
    font-family: "MNH48 Beringin PUA", "Grenze Gotisch", serif;
    direction: rtl;
    writing-mode: vertical-rl;
}

.websitetitle:lang(ja){
    font-family: "M PLUS 1p", "Grenze Gotisch", serif;
}

.websitetitle:lang(zh-Hans){
    font-family: "Long Cang", "Grenze Gotisch", serif;
}

.webpagetitle {
    margin: 0px;
    text-align: center;
    font-family: "Grenze Gotisch", "Lateef", "MNH48 Beringin PUA", "M PLUS 1p", "Long Cang", "Noto Serif TC", serif;
}

.webpagetitle:lang(ms-Arab) {
    font-family: "Lateef", "Grenze Gotisch", serif;
    direction: rtl;
    text-align: center;
}

.webpagetitle:lang(ms-Brgn) {
    font-family: "MNH48 Beringin PUA", "Grenze Gotisch", serif;
    direction: rtl;
    writing-mode: vertical-rl;
}

.webpagetitle:lang(ja){
    font-family: "M PLUS 1p", "Grenze Gotisch", serif;
}

.webpagetitle:lang(zh-Hans){
    font-family: "Long Cang", "Grenze Gotisch", serif;
}


/* Set main and article base */
main {
    padding: 10px;
    margin: auto;
    width: 80%;
    max-width: 940px;
}

/* Set properties for list items*/
li {
    line-height: 1.1;
    padding-bottom: 2px;
}

ul, ol {
    margin-left: 0px;
    padding-left: 1em;
}

/* Set article to not having margins*/
article {
    margin:0
}

/* Declare default font for non-Latin */
html:lang(ms-Arab), body:lang(ms-Arab), main:lang(ms-Arab), article:lang(ms-Arab), p:lang(ms-Arab) {
    font-family: "Harmattan", "Baloo Tammudu 2", sans-serif;
    -webkit-font-feature-settings: "cv84" 1; 
    -moz-font-feature-settings: "cv84" 1; 
    font-feature-settings: "cv84" 1;
    font-size: 1.05em;
    direction: rtl;
}

html:lang(ms-Brgn), body:lang(ms-Brgn), main:lang(ms-Brgn), article:lang(ms-Brgn), p:lang(ms-Brgn) {
    font-family: "MNH48 Beringin PUA", "Baloo Tammudu 2", sans-serif;
    writing-mode: vertical-rl;
}

html:lang(ja), body:lang(ja), main:lang(ja), article:lang(ja), p:lang(ja) {
    font-family: "Kosugi Maru", "Baloo Tammudu 2", sans-serif;
}

html:lang(zh-Hans), body:lang(zh-Hans), main:lang(zh-Hans), article:lang(zh-Hans), p:lang(zh-Hans) {
    font-family: "ZCOOL XiaoWei", "Baloo Tammudu 2", sans-serif;
}

html:lang(zh-Hant), body:lang(zh-Hant), main:lang(zh-Hant), article:lang(zh-Hant), p:lang(zh-Hant) {
    font-family: "Noto Sans TC", "Baloo Tammudu 2", sans-serif;
}

/* Handle language selection menu */
.langsel {
    font-size: 0.75em;
    text-align: center;
    border: white 1px solid;
    padding: 7px 0px 0px 0px;
    width: 80%;
    max-width: 940px;
    margin: 1em auto;
}

/* Handle image styling */
img.resize {
    float: left;
    max-width:50%;
    max-height:50%;
}

img[alt$=">"] {
    float:right;
    padding: 1em;
}

img[alt$="<"] {
    float:left;
    padding: 1em;
}

img[alt$="><"] {
    display: block;
    max-width: 100%;
    padding: 1em;
    height: auto;
    margin: auto;
    float: none!important;
}

/* Format the footer link list */
footlist {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none
}

footer {
    padding: 17px;
    text-align: center;
    color: #f9d0fd;
    font-size: 90%;
}

footer ul {
    list-style: none;
    display: block;
}

footer ul li {
    list-style: none;
    display: inline;
    padding: 0 5px 0 10px;
    /*border-left: 1px solid #f9d0fd;*/
}

footer ul li a {
    color: #f284ff;
}

footer ul li a:visited {
    color: #f9c4ff;
}

footer ul li a:hover {
    color: #f7a6ff;
}

footer ul li:not(:nth-child(1))::before {
    content: '◆      ';
    font-size: 75%;
}


/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;
    text-align: center;
}

td { 
    padding: 5px;
    border-collapse: collapse;
    border-bottom: 1px solid white;
    color: white;
}

.kanabanyak th {
    background: #5900b3;
}
.kanabanyak tr {
    background: #a300d9;
}
.kanabanyak tr:nth-child(odd) {
    background: #8c0069;
}
.kanabanyak tr:nth-child(even) {
    background: #69008c;
}
.kanabanyak tr td:nth-child(4n+2) {
    background: #605;
    border-top: 1px solid #605;
    border-bottom: 1px solid #605;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.kanadanrumi tr {
    background: #a300d9;
}
.kanadanrumi tr td:nth-child(3n) {
    background: #605;
    border-top: 1px solid #605;
    border-bottom: 1px solid #605;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.kanabanyak tr td:nth-child(1) {
    background: #5900b3;
}
.kanabanyak tr:nth-child(1) {
    background: #5900b3;
}
.kanabanyak tr:nth-child(2) {
    background: #5900b3;
}
tr:hover, .kanabanyak tr:hover, .kanadanrumi tr:hover {
    background-color: #400010;
}
.jahighlight strong, .jahighlight b {
    font-weight: normal;
    color: #d9d900;
}

/* Table of contents styling */
.toc{
    float: right;
    clear: right;
    width: auto;
    background: none;
    padding: 10px 10px 10px 25px;
    margin: 1em;
    border: 1px solid white;
    font-size: 0.75em;
}

/* Styling for `code` elements */
code {
    font-family: "Noto Mono", "Noto Sans Mono", "Noto Sans Mono CJK JP", "Noto Sans Mono CJK SC", "Noto Sans Mono CJK TC", "Noto Sans JP Mono", "Noto Sans SC Mono", "Noto Sans TC Mono", "Courier New", "Lucida Console", "Courier", Monaco, monospace;
    background-color: #663399;
    border: #9370db solid 1px;
    padding: 0px 5px;
    font-size: 0.85em;
}

/* Styling for 'back to top' text */

.btt {
    display: block;
    font-weight: bold;
    font-size: 0.5em;
    text-align: right;
}

.btt.en::before {
    content: 'Back to TOP ';
}

.btt.ms::before {
    content: 'Naik ke ATAS ';
}

.btt.ms-Arab::after {
    content: ' ناٴيق کأتس';
}

.btt.ms-Brgn::before {
    content: '   ';
}
